<link href="/stylesheets/blogpage.css" rel="stylesheet"  type="text/css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="socialmedia">
    <!--Facebook-->
    <div id="sicon"><a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a></div>
    <!--Twitter-->
    <div id="sicon"><a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
    </div>
    <!--Instagram-->
    <div id="sicon"><a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
    </div>
   </div>