<% include partials/header%>

<div class="bgImageLogin">
	<div>
		<form method="POST" action="/login" style="padding-top: 250px;">
			<input type="text" name="username" placeholder="User Name">
			<input type="password" name="password" placeholder="Password">
			<input type="submit">
		</form>
	</div>
	<div style="padding-top: 300px;">
		<a href="/register" class="ui button success">Sign Up</a>
	</div>
</div>
<% include partials/footer%>